{
	debug = true,
	prefix = "!",
	nesting = "<>",  -- Opening and closing characters for command nesting
	privs = {
		["@Project/staff/BotManager$"] = {"owner"},
		["@Project/staff/"] = {"admin"}
	},
	networks = {
		IRCNet = {
			nick     = "LuaBot",
			username = "LuaBot",
			realname = "LuaBot",
			host     = "irc.net",
			port     = 6667,
			secure   = false,
			channels = {
				["#bots"] = {
					autoJoin = true,
				},
			},
		},
	},
	pluginPaths = {"plugins"},
	plugins = {
		Utilities = true,
		Channel = true
	},
}

