{
	debug = false,
	prefix = "!",
	nesting = "<>",  -- Opening and closing characters for command nesting
	privs = {  -- Required
		["@Project/staff/BotManager$"] = {"owner"},
		["@Project/staff/"] = {"admin"}
	},
	networks = {  -- Required
		IRCNet = {
			autoConnect = true,
			nick     = "LuaBot",  -- Required
			username = "LuaBot",
			realname = "LuaBot",
			host     = "irc.net",  -- Required
			port     = 6667,
			secure   = false,
			channels = {  -- Required
				["#bots"] = {
					autoJoin = false,
				},
			},
		},
	},
	pluginPaths = {"plugins"},
	plugins = {  -- Required
		Utilities = true,
		Channel = true
	},
}

